.nav {
  display: flex;
  background: #333;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 30px;
}

.nav-left {
  display: flex;
  color: white;
  align-items: center;
  /* margin-left: 11px; */
}

.ncent-logo {
  width: 9%;
  height: 100%;
}

.nav-right-links {
  display: flex;
  color: white;
  align-items: center;
}

.tokens {
  margin-right: 25px;
  padding: 10px;
  padding-right: 25px;
  border-right: 1px solid #eee;
}

.logout-button {
  cursor: pointer;
}